# setting

# run setting
HOST = "192.168.22.194"
PORT = "18004"
DEBUG = True

# server
SERVER_IP = "192.168.22.40"
USER = "root"
PASSWORD = "nutrunck@@"

# mqtt
MQTT_USERNAME = "admin"
MQTT_PASSWORD = "public"
MQTT_HOST = "192.168.22.40"
MQTT_PORT = 1883

# redis
REDIS_HOST = "192.168.22.194"
REDIS_PORT = "6379"


# ESL
ESL_HOST = "192.168.22.40"
ESL_PORT = "8021"
ESL_PASSWORD = "ClueCon"

# log path
REMOTE_LOG_PATH_LIST = {
    "freeswitch": "/home/Trunck/navita/log/navita.log",
    "dispatcher": "/home/Trunck/navita/log/dispatcher.log",
    "api": "/home/Trunck/EUHTRUNCK/log/apiServer/log/",
    "mqtt": "/home/Trunck/TruncMQTT/TruncMQTT_log_dir"
}
LOCAL_FILE_PATH = "/home/nufront/桌面/local_log"
SHOW_LOG_PATH = "/home/nufront/桌面/log/"


TEMPLATE_CONF_FILE_PATH = "/home/nufront/桌面/html/TRUNCKLOG/countdown_files/conf/template/"
CONF_FILE_PATH = "/home/nufront/桌面/html/TRUNCKLOG/countdown_files/conf/"


# sqlalchemy config
DB_CONNECT = "mysql+pymysql://root:123456@192.168.22.165:3306/log_handle?charset=utf8"
SQLALCHEMY_DATABASE_URI = DB_CONNECT
SQLALCHEMY_TRACK_MODIFICATIONS = False
SQLALCHEMY_ECHO = True
